/* Font */
@font-face {
  font-family: Banny;
  src: url(../fonts/Banny-BoldRound.otf);
}

/* Reset */
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Variables */
:root {
  --yellow: #e8c300;
  --yellow-hover: #d8b788;
  --gray: #e5e5e5;
}

/* Global */
body {
  font-family: "Open Sans", sans-serif;
  background: url(../images/bg.png);
}

img {
  max-width: 100%;
}

section {
  padding: 100px 0;
}

/* Buttons */
.btn {
  font-weight: bold;
  font-size: 12px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  color: #fff;
  text-transform: uppercase;
  width: 200px;
  height: 60px;
  margin: 0 20px;
  text-decoration: none;
  background: var(--yellow);
  transition: background 0.2s;
  cursor: pointer;
  border: none;
}

.btn:hover {
  background: var(--yellow-hover);
}

.btn-o {
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.btn-o:hover {
  background: rgba(255, 255, 255, 0.2);
}

/* Inputs */
.input-text,
.input-textarea {
  display: block;
  width: 100%;
  background: var(--gray);
  border-radius: 5px;
  padding: 20px;
  border: none;
  font-size: 14px;
  line-height: 19px;
  text-indent: 20px;
  color: rgba(51, 51, 51, 0.5);
  outline: transparent;
}

.input-textarea {
  height: 120px;
  resize: none;
}

.choices {
  margin: 0;
}

.choices__inner {
  min-height: 60px;
  height: 60px;
  border: none;
  border-radius: 5px;
  outline: transparent;
  color: rgba(172, 60, 60, 0.5);
  background: var(--gray);
  padding: 20px 40px;
}

.choices__list--single {
  padding: 0;
  font-size: 14px;
  color: #000;
}

.choices__placeholder {
  opacity: 1;
  color: rgba(51, 51, 51, 0.66);
}

.choices[data-type*="select-one"]:after {
  content: "";
  background: url("../svg/select-arrow.svg");
  width: 14px;
  height: 9px;
  border: none;
}

.choices[data-type*="select-one"].is-open:after {
  margin-top: -2.5px;
}

/* Up arrow */

.up{
  position: fixed;
  bottom: 80px;
  right: 40px;
  z-index: 9999;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 30px;
  background: #e8c10083;
  color: #fff;
  font-size: 20px;
  line-height: 40px;
  text-decoration: none;
  cursor: pointer;
  display: none;
}

.up:hover{
  background: #e8c300;
}

.up_show{
  display: flex;
}

/* Containers */
.container {
  max-width: 1440px;
  margin: auto;
  position: relative;
}

.content {
  position: relative;
  max-width: 1280px;
  margin: auto;
}

/* Header */
.header {
  background: url(../images/header-bg.jpg) center center/cover no-repeat;
  position: relative;
}

.header-content {
  height: 100vh;
}

.header-content::before,
.header-content::after {
  content: "";
  position: absolute;
  top: 100px;
  left: 255px;
  bottom: 0;
  width: 1px;
  background: rgba(255, 255, 255, 0.2);
}

.header-content::after {
  left: auto;
  right: 255px;
}

.header-nav {
  height: 100px;
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 225px;
}

.header-nav__element {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  width: calc(50% - 100px);
}

.header-nav__helm {
  position: absolute;
  top: 25px;
  left: 50%;
  transform: translateX(-50%);
}

.header-nav__link {
  width: 25%;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  transition: all 1s ease-in-out 0.5s;
}

.header-nav__link:hover {
  text-decoration: underline;
}

/* Mobile menu */
.header-nav-menu,
.header-nav-close {
  position: absolute;
  width: 40px;
  top: 10px;
  left: 10px;
  display: none;
}

.header-middle {
  display: grid;
  grid-template-columns: 150px 1fr 150px;
  column-gap: 20px;
  align-items: center;
}

.header-middle__time {
  font-weight: bold;
  font-size: 12px;
  text-align: center;
  color: #fff;
}

.header-middle__subtitle {
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  letter-spacing: 0.5em;
  margin-bottom: 14px;
}

.header-middle__title {
  font-family: Banny, Arial, sans-serif;
  font-size: 96px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  margin: 0;
  margin-bottom: 36px;
  position: relative;
}

.header-middle__title:after {
  content: "";
  border-radius: 50px;
  width: 60px;
  height: 5px;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -30px;
  background: var(--yellow);
}

.header-middle__buttons {
  text-align: center;
}

.header-middle__social {
  border: 1px solid rgba(255, 255, 255, 0.2);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  margin: 0 0 20px auto;
  justify-content: center;
  transition: background 0.2s;
}

.header-middle__social:hover {
  background: rgba(255, 255, 255, 0.2);
}

/* About */
.about {
  background: #fff;
}

.section-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 80px;
  align-items: center;
}

.section-title {
  font-size: 36px;
  font-family: Banny, Arial, Helvetica, sans-serif;
  text-align: center;
  position: relative;
  margin-bottom: 13px;
  padding: 5px;
  text-transform: uppercase;
}

.section-title::after {
  content: "";
  border-radius: 50px;
  width: 60px;
  height: 5px;
  position: absolute;
  bottom: -5px;
  left: 50%;
  margin-left: -30px;
  background: var(--yellow);
}

.section-text {
  display: block;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  margin: 0 auto 50px auto;
}

.section-text__bold {
  font-weight: bold;
  line-height: 28px;
  margin-bottom: 30px;
}

.section-content-media-image {
  position: relative;
  display: inline-block;
  border-radius: 5px;
}

.section-content-media-image img {
  box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

.section-content-media-image::after {
  content: "";
  position: absolute;
  width: 250px;
  height: 250px;
  right: -25%;
  top: 25%;
  border: 20px solid var(--yellow);
  box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

/* Team */
.team {
  color: #fff;
  background: url(../images/team-bg.jpg) center/cover no-repeat;
}

.section-content-media_align-left {
  text-align: right;
}

.section-content-media-image_align-left::after {
  right: auto;
  left: -25%;
}

/* Book */
.book {
  background: #fff;
}

.book-order {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
  row-gap: 10px;
  margin-top: 30px;
}

.book-order__btn {
  width: 100%;
  border: none;
  grid-column: 1 / 3;
  margin: 0;
  outline: transparent;
}

/* Products */
.products {
  background: url(../images/products-bg.jpg) center/cover no-repeat;
  color: #fff;
}

/* Menu */
.menu {
  background: #fff;
}

.tab-name {
  list-style: none;
}

.menu-tabs {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.menu-tabs-name {
  width: 150px;
  height: 50px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 1px solid var(--gray);
  position: relative;
}

.menu-tabs-name:first-child {
  border: none;
}

.menu-tabs-name.active::before {
  content: "";
  border-radius: 50px;
  width: 60px;
  height: 5px;
  position: absolute;
  bottom: 0;
  background: var(--yellow);
}

.menu-content-tab {
  display: none;
}

.menu-content-tab.active {
  display: block;
}

.menu-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 87px;
}

.menu-list-item {
  display: flex;
  justify-content: space-between;
  min-height: 55px;
  margin-bottom: 10px;
}

.menu-list-item__name {
  font-family: Banny, Arial, sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  display: block;
}

.menu-list-item__description {
  display: block;
  font-size: 12px;
  line-height: 18px;
  color: rgba(51, 51, 51, 0.5);
}

.menu-list-item__price {
  white-space: nowrap;
  font-family: Banny, Arial, sans-serif;
  font-size: 18px;
  margin-left: 10px;
}

/* Events */
.events {
  background: url(../images/events-bg.png) center/cover no-repeat;
}

.event-element__name {
  position: absolute;
  width: 100%;
  height: 80px;
  background: #000;
  font-family: Banny, Arial, sans-serif;
  font-weight: bold;
  font-size: 24px;
  color: #fff;
  text-transform: uppercase;
  padding: 20px;
  display: flex;
  align-items: center;
}

.event-element__name_top {
  border-radius: 5px 5px 0 0px;
  top: 0;
}

.event-element__name_bottom {
  border-radius: 0 0 5px 5px;
  bottom: 0;
}

/* Gallery */
.gallery {
  padding: 0;
  display: flex;
}

.gallery-image {
  width: 25%;
  background-size: cover;
}

.gallery-image::after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

/* Contact */
.contact {
  background: #fff;
}

.contact-form-contacts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.contact-form-contacts__input {
  width: calc(100% / 3 - 11px);
}

.contact-form__message {
  margin-bottom: 10px;
}

.contact-form-btn {
  width: 100%;
  margin: 0;
}

/* Map */
.map {
  padding: 0;
}

/* Footer */
.footer {
  background: #000;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
  padding: 43px 0;
}

/* Media */
@media screen and (max-width: 1024px) {
  section {
    padding: 50px 0;
  }

  .content {
    padding: 0 20px;
  }

  .section-content-media-image::after {
    display: none;
  }

  .header-nav {
    margin-bottom: 0;
  }

  .header-middle {
    height: calc(100% - 100px);
  }

  .header-middle__time {
    font-size: 13px;
  }

  .header-middle__socials {
    margin: 0 auto 20px;
  }

  .btn {
    margin-top: 10px;
  }

  .book-media {
    display: none;
  }

  .book-content {
    grid-template-columns: 1fr;
  }

  .menu-list {
    grid-template-columns: 1fr 1fr;
    column-gap: 40px;
  }
}

@media screen and (max-width: 767px) {
  .header-content {
    padding: 0;
  }

  .header-nav {
    flex-direction: column;
    height: auto;
    background: #1e1f1e;
    padding: 90px 20px 20px 20px;
    top: 0;
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 4;
    display: none;
  }

  .header-nav.header-nav_active {
    display: flex;
  }

  .header-nav-close {
    display: block;
  }

  .header-nav__element {
    flex-wrap: wrap;
    width: 100%;
    border: none;
  }

  .header-nav__link {
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
  }

  .header-nav-element:last-child .header-nav__link:last-child {
    margin-bottom: 0;
  }

  .header-nav__helm {
    width: 50px;
    top: 20px;
    margin: 0;
    margin-left: -25px;
  }

  .header-nav-menu {
    display: block;
  }

  .header-content {
    height: auto;
  }

  .header-middle {
    grid-template-columns: 1fr;
    padding-top: 70px;
  }

  .header-middle__title {
    font-size: 34px;
    padding: 10px;
  }

  .header-middle__content {
    margin: 30px 0;
  }

  .header-content:after,
  .header-content:before {
    display: none;
  }

  .header-middle__socials {
    display: flex;
    justify-content: space-between;
  }

  .section-content {
    grid-template-columns: 1fr;
  }

  .section-content-media-image {
    margin-top: 20px;
    text-align: center;
  }

  .section-content-media-image img {
    box-shadow: none;
  }

  .section-title {
    font-size: 26px;
  }

  .about,
  .book,
  .products,
  .menu,
  .events,
  .contact {
    padding: 20px 0;
  }

  .book-order{
    grid-template-columns: 1fr;
  }

  .book-order__btn {
    grid-column: 1;
  }
  .menu-list {
    grid-template-columns: 1fr;
  }
  .gallery{
    flex-wrap: wrap;
  }
  .gallery-image{
    width: 50%;
  }

  .contact-form-contacts {
    flex-wrap: wrap;
    margin-bottom: 0;
  }
  .contact-form-contacts__input {
    width: 100%;
    margin-bottom: 10px;
  }
  .map-google {
    height: 200px;
  }
}

@media (max-height: 730px) {
  .header-nav__helm{
    height: 15vh;
  }
}